@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

:root {
    --bg-color: #f6f3f3;            /*background colour*/
    --fg-color: #1f2937;            /*foreground colour*/
    --an-color: #038299;            /*anchor colour*/
    --border-color: #42deb9;        /*border colour*/
    --card-div-color: #e5e7eb;      /*card divider colour*/
    --h1-from-color: #00869d;       /*h1 gradient styling*/
    --h1-to-color: #42deb9;         /*h1 gradient styling*/
    --image-cap-color: #555;        /*image caption colour*/
    --image-place-color: #f0f0f0;   /*image placeholder colour*/

    /* dark mode styling */
    --dm-bg-color: #0D1B26;         /*background colour*/
    --dm-fg-color: #e5e7eb;         /*foreground colour*/
    --dm-an-color: #038299;         /*anchor colour*/
    --dm-border-color: #038299;     /*border colour*/   
    --dm-card-div-color: #038299;   /*card divider colour*/
    --dm-h1-from-color:#00869d;     /*h1 gradient styling*/         /*currently unused*/
    --dm-h1-to-color:#42deb9;       /*h1 gradient styling*/         /*currently unused*/
    --dm-image-cap-color: #555;     /*image caption colour*/        /*currently unused*/
    --dm-image-place-color: #f0f0f0;/*image placeholder colour*/    /*currently unused*/
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--fg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html[data-theme="dark"] body {
    background-color: var(--dm-bg-color);
    color: var(--dm-fg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    color: var(--an-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== CARD ===== */

.card {
    background-color: var(--fg-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-top: 8px solid var(--border-color);
}

html[data-theme="dark"] .card {
    background-color: var(--fg-color); /* Intentionally same as LM */
    border: 1px solid var(--dm-border-color);
    border-top: 8px solid var(--dm-border-color);
}

/* ===== CARD-FOOTER ===== */

.card-footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--card-div-color);
    transition: border 0.3s ease;
}

:global(html[data-theme="dark"]) :global(.card-footer-links) {
    border-top: 1px solid var(--dm-card-div-color);
}

/* ===== Code Blocks ===== */
pre[class*="language-"] {
  padding: 1em !important;
  border-radius: 8px !important;
  font-size: 0.9em !important;
}

pre[class*="language-"] {
  overflow-x: auto;
  scrollbar-width: auto;
  scrollbar-color: #555 #2d2d2d;
}

/* ===== H1 ===== */
/* global styling */

@media (min-width: 0px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

/* ===== H3 ===== */

h3 {
    color: var(--fg-color);
    transition: color 0.3s ease;
}

html[data-theme="dark"] h3 {
    color: var(--dm-fg-color);
}

/* ===== Hero Section ===== */
.hero-section {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.hero-section h1 {
    font-weight: 700;
    margin-bottom: 1.5rem;
    max-width: 90%;
    background-clip: text;
    background-image: linear-gradient(to left, var(--h1-from-color), var(--h1-to-color));
    color: transparent;
}

/* ===== Section Title (e.g. "Skills", "Featured Projects") ===== */

.section-title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    transition: color 0.3s ease;
}

:global(html[data-theme="dark"]) .section-title {
    transition: color 0.3s ease;
}

/* ===== Page Wrapper ===== */
/* used to wrap all content */
.page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

/* ===== Site Wrapper ===== */
/* used to wrap all content */
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 2rem;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

/* ===== IMAGE STYLING ===== */
.image-wrapper {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.image-wrapper figcaption {
    font-size: 0.9em;
    color: var(--image-cap-color);
    text-align: center;
    margin-top: 0.5rem;
}

.image-placeholder {
    max-width: 800px;
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--image-place-color);
    object-fit: cover;
}